---
title: About & Contact
---
{% include header.html %}
<h2>About &amp Contact</h2>
<p>My name is Colton Crivelli and I am studying Electrical Engineering at Cal Poly San Luis Obispo. True to the Cal Poly "learn by doing" motto, I'm always involved in projects related to Electrical Engineering. This website is intended to highlight what I've done to get my hands dirty since beginning my higher education.</p>

<img src="/images/about/equipment.jpg" alt="Equipment" style= "width="500px;height:500px">

<p>My personal lab bench seems to get bigger every year. I love working with anything related to circuit design and embedded systems. Click on the projects link at the top of this page to see some of my work or click one of the links below to contact me.</p>

<ul class="list">
	<li>Email - <a href="mailto:colton.crivelli@gmail.com">colton.crivelli@gmail.com</a></li>
	<li>Linkedin - <a href="http://www.linkedin.com/in/coltoncrivelli">Colton Crivelli</a></li>
</ul>

<img src="/images/about/linkedin.jpg" alt="linkedin" style= "width="500px;height:500px">

<hr>
{% include footer.html %}
