---
title: About & Contact
---
{% include header.html %}
<h2>About &amp Contact</h2>
<p>My name is Colton Crivelli, as you might have gathered, and I am studying Electrical Engineering at Cal Poly San Luis Obispo. My primary interests are system level circuit design and embedded systems.</p>

<ul class="list">
	<li>Email - <a href="mailto:colton.crivelli@gmail.com">colton.crivelli@gmail.com</a></li>
	<li>Linkedin - <a href="www.linkedin.com/in/coltoncrivelli">Colton Crivelli</a></li>
</ul>
<hr>
{% include footer.html %}
